gisgmp/src/test/resources/wsdl/unifoWS/unifo_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is unknown.--><!--edited with XMLSpy v2013 (http://www.altova.com) by  ()--><xsd:schema targetNamespace="http://roskazna.ru/xsd/BudgetIndex" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="BudgetIndexType">
    <xsd:annotation>
      <xsd:documentation>Реквизиты п/п на оплату гос. услуги</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Status" default="0">
        <xsd:annotation>
          <xsd:documentation>Статус плательщика</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PaymentType" default="0" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Тип платежа</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Purpose" default="0">
        <xsd:annotation>
          <xsd:documentation>Основание платежа</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TaxPeriod" default="0">
        <xsd:annotation>
          <xsd:documentation>Налоговый период</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TaxDocNumber" default="0">
        <xsd:annotation>
          <xsd:documentation>Показатель номера документа</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TaxDocDate" default="0">
        <xsd:annotation>
          <xsd:documentation>Показатель даты документа</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>