gisgmp/src/test/resources/wsdl/unifoWS/unifo_1_2_3_4_5_6_7_8_9_10_11_12_13_14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is unknown.--><!--edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by test (test)--><xsd:schema targetNamespace="http://roskazna.ru/xsd/Common" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:com="http://roskazna.ru/xsd/Common">
  <xsd:simpleType name="AccountNumType">
    <xsd:annotation>
      <xsd:documentation>Номер счета.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="AdditionalData" type="com:AdditionalData_Type">
    <xsd:annotation>
      <xsd:documentation>Дополнительные данные</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="AdditionalData_Type">
    <xsd:sequence>
      <xsd:element name="TraitGroup" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Группа атрибутов</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="Trait" type="com:Trait_Type"/>
          </xsd:sequence>
          <xsd:attribute name="name" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Наименование группы атрибутов</xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressesType">
    <xsd:annotation>
      <xsd:documentation>Список адресов</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Address" type="com:AddressType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AddressKindType">
    <xsd:annotation>
      <xsd:documentation>Почтовый Адрес.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Zip"/>
      <xsd:enumeration value="Country"/>
      <xsd:enumeration value="Region"/>
      <xsd:enumeration value="State"/>
      <xsd:enumeration value="Town"/>
      <xsd:enumeration value="City"/>
      <xsd:enumeration value="Street"/>
      <xsd:enumeration value="House"/>
      <xsd:enumeration value="Building"/>
      <xsd:enumeration value="Flat"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:documentation>Служит для  представления адреса контрагента или любого другого участника бизнес-процесса</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="View">
        <xsd:annotation>
          <xsd:documentation>Строковое представление адреса.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Comment" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Произвольный комментарий.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AddressField" minOccurs="0" maxOccurs="10">
        <xsd:annotation>
          <xsd:documentation>Структурированный адрес контрагента или любого другого участника бизнес-процесса</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Type" type="com:AddressKindType">
              <xsd:annotation>
                <xsd:documentation>Возможные значения: Почтовый индекс, Страна, Регион, Район, Населенный пункт, Город, Улица, Дом, Корпус, Квартира</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Value">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="255"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="kind">
      <xsd:annotation>
        <xsd:documentation>Вид адреса
1 - юридический
2 - фактический
3 - почтовый</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="1"/>
          <xsd:enumeration value="2"/>
          <xsd:enumeration value="3"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="BIK_Type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="9"/>
      <xsd:pattern value="\d{9}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Card_Type">
    <xsd:annotation>
      <xsd:documentation>Платежная карта</xsd:documentation>
      <!--add more documentation here-->
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CardType" type="com:TypeCard_Type">
        <xsd:annotation>
          <xsd:documentation>Тип карты</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CardNumber" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Номер карты</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CardOwner" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Владелец карты (держатель)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExpMonth" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Месяц до которого карта валидна</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ExpYear" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Год до которого карта валидна</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CVV2" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Card Verification Value\Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StartMonth" type="xsd:int" minOccurs="0"/>
      <xsd:element name="StartYear" type="xsd:int" minOccurs="0"/>
      <xsd:element name="IssueNumber" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Comment" type="com:Comment_Type">
    <xsd:annotation>
      <xsd:documentation>Комментарий</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="Comment_Type">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="2000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Commission_Type">
    <xsd:annotation>
      <xsd:documentation>Тип - комиссия</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Kind">
        <xsd:annotation>
          <xsd:documentation>Вид комиссии
1 - за операцию, с плательщика в пользу поставщика
2 - за операцию, с агента в пользу поставщика
3 - вознаграждение агенту за период взаиморасчётов агента и поставщика</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Percent" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Процент комиссии в валюте платежа. Указывается в процентах (0 - 100). При отсутствии тега процент принимается равным 0</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MinValue" type="com:Money" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Минимальная сумма комиссии. При отсутствии тега процент принимается равным 0</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaxValue" type="com:Money" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Максимальная сумма комиссии.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Commissions_Type">
    <xsd:sequence>
      <xsd:element name="Comission" type="com:Commission_Type" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ComplexParameter" type="com:ComplexParameterType">
    <xsd:annotation>
      <xsd:documentation>Сложный параметр</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ComplexParameterType">
    <xsd:complexContent>
      <xsd:extension base="com:Parameter_Type">
        <xsd:sequence>
          <xsd:element name="Field" type="com:Field_Type" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>Поле сложного параметра</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="label">
          <xsd:annotation>
            <xsd:documentation>Наименование значения</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="256"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactInfoType">
    <xsd:annotation>
      <xsd:documentation>Содержит описание возможных способов связи</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Kind">
        <xsd:annotation>
          <xsd:documentation>Вид контакта</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="100"/>
            <xsd:enumeration value="Internal number"/>
            <xsd:enumeration value="Work phone"/>
            <xsd:enumeration value="Mobile phone"/>
            <xsd:enumeration value="Home phone"/>
            <xsd:enumeration value="Pager"/>
            <xsd:enumeration value="Fax"/>
            <xsd:enumeration value="Mail"/>
            <xsd:enumeration value="ICQ"/>
            <xsd:enumeration value="Web site"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Value">
        <xsd:annotation>
          <xsd:documentation>Значение</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Comment" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Комментарий</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContactsType">
    <xsd:annotation>
      <xsd:documentation>Список контактов</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Contact" type="com:ContactInfoType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="CurrencyCodeType">
    <xsd:annotation>
      <xsd:documentation>ISO 4217 3-буквенный код валюты.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="EUR"/>
      <xsd:enumeration value="USD"/>
      <xsd:enumeration value="RUB"/>
      <xsd:enumeration value="RUR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Field_Type">
    <xsd:sequence>
      <xsd:element name="Value" type="com:ParamValue_Type" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Значение</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Наименование поля параметра</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="INN_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
      <xsd:minLength value="10"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="KBK_Type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="KPP_type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="9"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Money">
    <xsd:simpleContent>
      <xsd:extension base="xsd:long">
        <xsd:attribute name="currency" type="com:CurrencyCodeType" default="RUR">
          <xsd:annotation>
            <xsd:documentation>Код валюты в соответствии с ISO 4217</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="exponent" use="optional" default="2">
          <xsd:annotation>
            <xsd:documentation>количество дробных знаков</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:integer">
              <xsd:pattern value="([0-9]{1})"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="OGRN_Type">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OKATO_Type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="11"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OpenEnum">
    <xsd:annotation>
      <xsd:documentation>Открытое перечисление</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="120"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Parameter_Type">
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Наименование параметра</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="supplierSrvCode">
      <xsd:annotation>
        <xsd:documentation>Код услуги в каталоге ОПУ</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40"/>
          <xsd:minLength value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="supplierID" type="com:UUID">
      <xsd:annotation>
        <xsd:documentation>Id поставщика из каталога которого взята услуга</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="isId" type="xsd:integer">
      <xsd:annotation>
        <xsd:documentation>Указывает что данный параметр является идентификатором плательщика
0 - параметр определяет платеж в группе параметров с таким же значением isID
1 - параметр является уникальным, если присутствует несколько параметров с таким значением isID, то для идентификации может использоваться любой параметр</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="Parameters_Type">
    <xsd:choice maxOccurs="unbounded">
      <xsd:annotation>
        <xsd:documentation/>
      </xsd:annotation>
      <xsd:element ref="com:SimpleParameter">
        <xsd:annotation>
          <xsd:documentation>Имя параметра. Должно совпадать с атрибутом name параметра из каталога услуг для соответствующей услуги</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="com:ComplexParameter">
        <xsd:annotation>
          <xsd:documentation>Имя параметра. Должно совпадать с атрибутом name параметра из каталога услуг для соответствующей услуги</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ParamValue_Type">
    <xsd:attribute name="label">
      <xsd:annotation>
        <xsd:documentation>Наименование значения</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="80"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="isSelected" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Указывает, что данное значение выбрано в качестве текущего значения параметра в случае если присутствует список значений</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="data" use="required">
      <xsd:annotation>
        <xsd:documentation>Значение</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4000"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="PayerIdentification" type="com:PayerIdentification_Type">
    <xsd:annotation>
      <xsd:documentation>Идентификация начисления по каталогу услуг</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="PayerIdentification_Type">
    <xsd:annotation>
      <xsd:documentation>Тип для идентификации плательщика</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ServiceCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Идентификатор услуги</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice>
        <xsd:element ref="com:SimpleParameter"/>
        <xsd:element ref="com:ComplexParameter"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SimpleParameter" type="com:SimpleParameterType">
    <xsd:annotation>
      <xsd:documentation>Простой параметр</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SimpleParameterType">
    <xsd:complexContent>
      <xsd:extension base="com:Parameter_Type">
        <xsd:sequence>
          <xsd:element name="Value" type="com:ParamValue_Type" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>Значение параметра</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SWIFT_Type">
    <xsd:restriction base="xsd:string">
      <xsd:length value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Tax_Type">
    <xsd:sequence>
      <xsd:element name="TaxAmount" type="com:Money">
        <xsd:annotation>
          <xsd:documentation>Сумма налога, рассчитанная по указанной ставке</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="taxType">
      <xsd:annotation>
        <xsd:documentation>тип налога</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="taxRate" type="xsd:decimal">
      <xsd:annotation>
        <xsd:documentation>налоговая ставка</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="inPrice" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>включено в стоимость</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="Trait_Type">
    <xsd:sequence>
      <xsd:element name="Name">
        <xsd:annotation>
          <xsd:documentation>Наименование атрибута</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Value">
        <xsd:annotation>
          <xsd:documentation>Значение атрибута</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="required" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Обязательный/не обязательный</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="label" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Метка</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="valueFormat" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>формат данных</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="EsiaUserInfoType">
    <xsd:choice>
      <xsd:annotation>
        <xsd:documentation>Данные пользователя, полученные информационной системой Участника из ЕСИА</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="Person">
        <xsd:annotation>
          <xsd:documentation>Физическое лицо</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DocumentIdentity">
              <xsd:annotation>
                <xsd:documentation>Документ, удостоверяющий личность</xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:attribute name="code" use="required">
                  <xsd:annotation>
                    <xsd:documentation>Код документа, удостоверяющего личность</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="1">
                        <xsd:annotation>
                          <xsd:documentation>Паспорт гражданина Российской Федерации</xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="2">
                        <xsd:annotation>
                          <xsd:documentation>Документ иностранного гражданина</xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="series">
                  <xsd:annotation>
                    <xsd:documentation>Серия</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="45"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="number" use="required">
                  <xsd:annotation>
                    <xsd:documentation>Номер</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="45"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="snils" use="required">
            <xsd:annotation>
              <xsd:documentation>СНИЛС</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="\d{11}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="personINN" type="com:personINNType" use="optional">
            <xsd:annotation>
              <xsd:documentation>ИНН физического лица (гражданина РФ).
Обязательно для заполнения, если физическое лицо - гражданин РФ</xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IndividualBussnes">
        <xsd:annotation>
          <xsd:documentation>Индивидуальный предприниматель</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="personINN" use="required">
            <xsd:annotation>
              <xsd:documentation>ИНН</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="12"/>
                <xsd:pattern value="\d{12}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute name="userId" type="xsd:integer" use="required">
      <xsd:annotation>
        <xsd:documentation>Уникальный идентификатор учетной записи пользователя в системе ЕСИА</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sessionIndex" use="optional">
      <xsd:annotation>
        <xsd:documentation>Уникальный идентификатор сессии пользователя в системе ЕСИА</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="300"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="sessionDate" type="xsd:dateTime" form="unqualified">
      <xsd:annotation>
        <xsd:documentation>Дата и время открытия сессии пользователя в системе ЕСИА</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="TypeCard_Type">
    <xsd:annotation>
      <xsd:documentation>Тип кредитной карты</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Visa"/>
      <xsd:enumeration value="MasterCard"/>
      <xsd:enumeration value="Discover"/>
      <xsd:enumeration value="Amex"/>
      <xsd:enumeration value="Switch"/>
      <xsd:enumeration value="Solo"/>
      <xsd:enumeration value="Maestro"/>
      <xsd:enumeration value="EWallet"/>
      <xsd:enumeration value="Other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UUID">
    <xsd:annotation>
      <xsd:documentation>Универсальный уникальный идентификатор (UUID - Universally Unique Identifier) RFC 4122</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="36"/>
      <xsd:pattern value="([0-9]|[a-f]|[A-F]){8}(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){12})"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="personINNType">
    <xsd:restriction base="xsd:string">
      <xsd:length value="12"/>
      <xsd:pattern value="\d{12}"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>