gisgmp/src/test/resources/wsdl/unifoWS/unifo_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is unknown.--><!--edited with XMLSpy v2013 (http://www.altova.com) by  ()--><xsd:schema targetNamespace="http://roskazna.ru/xsd/PaymentInfo" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:bdi="http://roskazna.ru/xsd/BudgetIndex" xmlns:com="http://roskazna.ru/xsd/Common" xmlns:org="http://roskazna.ru/xsd/Organization" xmlns:pi="http://roskazna.ru/xsd/PaymentInfo">
  <xsd:import namespace="http://roskazna.ru/xsd/Organization" schemaLocation="unifo_1_2_3_4_5_6_7_8_9_10_11_12_13.xsd"/>
  <xsd:import namespace="http://roskazna.ru/xsd/Common" schemaLocation="unifo_1_2_3_4_5_6_7_8_9_10_11_12_13_14.xsd"/>
  <xsd:import namespace="http://roskazna.ru/xsd/BudgetIndex" schemaLocation="unifo_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15.xsd"/>
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="unifo_1_2_3_4_5_6_7_8_9_10_11.xsd"/>
  <xsd:complexType name="PaymentIdentificationDataType">
    <xsd:annotation>
      <xsd:documentation>Данные для идентификации платежа</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element name="Bank" type="org:BankType">
          <xsd:annotation>
            <xsd:documentation>БИК Банка плательщика</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="UFK">
          <xsd:annotation>
            <xsd:documentation>Идентификатор организации (не банка), проведшей платеж</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="1"/>
              <xsd:maxLength value="36"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:choice>
      <xsd:element name="SystemIdentifier">
        <xsd:annotation>
          <xsd:documentation>уникальный номер платежа в ИС Банка плательщика или в ИС УФК</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="36"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PaymentType">
    <xsd:annotation>
      <xsd:documentation>Базовый тип для платежа/зачисления</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SupplierBillID" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Уникальный идентификатор начисления</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PaymentDocGUID" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>GUID платежного документа</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ApplicationID" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Уникальный идентификатор заявки</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Narrative" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>назначение платежа</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Amount" type="xsd:long" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Сумма оплаты по платежу/зачислению в копейках</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PaymentDate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>дата платежа/зачисления</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:union memberTypes="xsd:date xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="BudgetIndex" type="bdi:BudgetIndexType" minOccurs="0"/>
      <xsd:element name="PaymentIdentificationData" type="pi:PaymentIdentificationDataType">
        <xsd:annotation>
          <xsd:documentation>Данные, необходимые для идентификации платежа</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayerIdentifier" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PayerPA" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Лицевой счет плательщика в ИС Получателя</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AdditionalData" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Дополнительные данные</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name">
              <xsd:annotation>
                <xsd:documentation>Наименование</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="100"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Value">
              <xsd:annotation>
                <xsd:documentation>Значение</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="255"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PayeeBankAcc" type="org:AccountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Расчетный счет получател я средств</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PayerName" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Наименование плательщика</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="160"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PayerAccount" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Номер счета плательщика</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PayeeName" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Наименование получателя</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="500"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ref="pi:AccDoc" minOccurs="0"/>
      <xsd:element name="ReceiptDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Дата поступления распоряжения в банк плательщика</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="pi:TransKind" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Вид операции.
						Указывается шифр платежного документа. Возможные значения:
						01 –платежное поручение; 06 - инкассовое поручение; 02 - платежное требование;
						16 - платежный ордер;
						ПД – платежный документ ФЛ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Priority" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Очередность платежа. Возможные значения: 0-6</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
            <xsd:pattern value="[0-6]"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PartialPayt" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Информация о частичном платеже</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PaytNo" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Номер частичного платежа</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="3"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element ref="pi:TransKind">
              <xsd:annotation>
                <xsd:documentation>Вид операции.
									Указывается шифр платежного документа. Возможные значения:
									01 –платежное поручение; 06 - инкассовое поручение; 02 - платежное требование;
									16 - платежный ордер;
									ПД – платежный документ ФЛ</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="SumResidualPayt" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation>Сумма остатка платежа</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                  <xsd:totalDigits value="18"/>
                  <xsd:minInclusive value="0"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element ref="pi:AccDoc"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TransContent" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Содержание операции. Указывается при частичном исполнении</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PaytCondition" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Условие оплаты. Возможные значения:
						1 - заранее данный акцепт плательщика;
						2 - требуется получение акцепта плательщика.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="1"/>
            <xsd:minInclusive value="1"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AcptTerm" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Количество дней для получения акцепта плательщика</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:totalDigits value="1"/>
            <xsd:minInclusive value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MaturityDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Окончание срока акцепта</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocDispatchDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Дата отсылки (вручения) плательщику документов</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IncomeInfoType">
    <xsd:annotation>
      <xsd:documentation>Информация по зачислению</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ChangeStatus">
        <xsd:annotation>
          <xsd:documentation>Статус зачисления
						1 - новый
						2 - изменение</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="1"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ConsDocNumber">
        <xsd:annotation>
          <xsd:documentation>Идентификатор зачисления</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="36"/>
            <xsd:minLength value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ConsDocDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>Дата формирования зачисления</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="payeeINN">
        <xsd:annotation>
          <xsd:documentation>ИНН получателя</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="payeeKPP">
        <xsd:annotation>
          <xsd:documentation>КПП получателя</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="KBK">
        <xsd:annotation>
          <xsd:documentation>Код КБК</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OKATO">
        <xsd:annotation>
          <xsd:documentation>Код ОКАТО</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IncomeRows">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IncomeRow" type="pi:PaymentType" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TOFK" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Код ТОФК УФК, сформировавшего зачисление</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ref="ds:Signature" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="Version" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Версия форматов</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="PaymentInfoType">
    <xsd:annotation>
      <xsd:documentation>Информация по платежу</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="pi:PaymentType">
        <xsd:sequence>
          <xsd:element name="RecipientServicesIdentifier" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Идентификатор получателя услуги</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1"/>
                <xsd:maxLength value="25"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ChangeStatus">
            <xsd:annotation>
              <xsd:documentation>Статус платежа
								1 - новый
								2 - изменение
								3 - аннулирование</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="1"/>
                <xsd:enumeration value="1"/>
                <xsd:enumeration value="2"/>
                <xsd:enumeration value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ChangeReason" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Основание изменения. Указание является обязательным при аннулировании</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="512"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="payeeINN" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>ИНН получателя</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="payeeKPP" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>КПП получателя</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="9"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="payeeOgrn" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>ОГРН получателя</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="13"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="KBK" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Код КБК</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OKATO" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Код ОКАТО</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="11"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ESIA_ID" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Идентификатор учетной записи пользователя в ЕСИА. Обязателен для заполнения в случае оплаты с использованием порталов, интегрированных с ЕСИА</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SpeciallID" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Специальные идентификаторы</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="Period" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Оплачиваемый период</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Year">
                        <xsd:annotation>
                          <xsd:documentation>Год</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:short">
                            <xsd:minInclusive value="1900"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="Month">
                        <xsd:annotation>
                          <xsd:documentation>Месяц</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:short">
                            <xsd:minInclusive value="1"/>
                            <xsd:maxInclusive value="12"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ServiceID" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Идентификатор услуги</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="SupplierID" type="xsd:string" minOccurs="0"/>
                <xsd:element name="PaymentDocumentNumber" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Номер платежного документа в ИС поставщика</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="AccountNumber" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Номер лицевого счета в ИС поставщика</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="Phone" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Номер телефона</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="Email" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Адрес e-mail</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="Payer" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Дополнительные сведения о плательщике</xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="FIO" minOccurs="0">
                        <xsd:annotation>
                          <xsd:documentation>ФИО</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="Surname" type="xsd:string">
                              <xsd:annotation>
                                <xsd:documentation>Фамилия</xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="FirstName" type="xsd:string">
                              <xsd:annotation>
                                <xsd:documentation>Имя</xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="Patronymic" type="xsd:string" minOccurs="0">
                              <xsd:annotation>
                                <xsd:documentation>Отчество</xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element name="INN" minOccurs="0">
                        <xsd:annotation>
                          <xsd:documentation>ИНН</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:pattern value="\d{10}|\d{12}"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="Address" minOccurs="0">
                        <xsd:annotation>
                          <xsd:documentation>Адрес</xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="FIASHouseGuid" minOccurs="0">
                              <xsd:annotation>
                                <xsd:documentation>Глобальный уникальный идентификатор дома по ФИАС</xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:pattern value="([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:choice minOccurs="0">
                              <xsd:sequence>
                                <xsd:element name="Apartment" type="xsd:string" minOccurs="0">
                                  <xsd:annotation>
                                    <xsd:documentation>Номер жилого помещения</xsd:documentation>
                                  </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="Room" type="xsd:string" minOccurs="0">
                                  <xsd:annotation>
                                    <xsd:documentation>Номер комнаты жилого помещения</xsd:documentation>
                                  </xsd:annotation>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:sequence>
                                <xsd:element name="LivingBlock" type="xsd:string">
                                  <xsd:annotation>
                                    <xsd:documentation>Номер жилого блока</xsd:documentation>
                                  </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="RoomOfLIvingBlock" type="xsd:string" minOccurs="0">
                                  <xsd:annotation>
                                    <xsd:documentation>Номер комнаты жилого блока</xsd:documentation>
                                  </xsd:annotation>
                                </xsd:element>
                              </xsd:sequence>
                              <xsd:element name="NonLivingApartment" type="xsd:string" minOccurs="0">
                                <xsd:annotation>
                                  <xsd:documentation>Номер нежилого помещения</xsd:documentation>
                                </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="NonLivingBlock" type="xsd:string" minOccurs="0">
                                <xsd:annotation>
                                  <xsd:documentation>Номер нежилого блока</xsd:documentation>
                                </xsd:annotation>
                              </xsd:element>
                            </xsd:choice>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="ServiceIdGUID" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>GUID идентификатора жилищно-коммунальной услуги</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:pattern value="([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="SupplierData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Сведения о поставщике</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="FIO" type="pi:FioType" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>ФИО</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="Name" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Наименование</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="INN" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>ИНН</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:pattern value="\d{10}|\d{12}"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="KPP" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>КПП</xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:length value="9"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="SupplierID" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>Идентификатор поставщика</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element ref="ds:Signature" minOccurs="0"/>
          <xsd:element name="OKTMO" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Код OKTMO</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="11"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BudgetAccount" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Номер лицевого счета, открытый в органах Федерального казначейства (финансовых органах)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="0"/>
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PaymentInfoGUID" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>GUID платежных реквизитов в платежном документе</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Version" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation>Версия форматов</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Income" type="pi:IncomeInfoType">
    <xsd:annotation>
      <xsd:documentation>Зачисление</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="FinalPayment" type="pi:PaymentInfoType">
    <xsd:annotation>
      <xsd:documentation>Платеж</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AccDoc">
    <xsd:annotation>
      <xsd:documentation>Реквизиты исходного расчетного документа (поля 3 и 4)</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AccDocNo" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>Номер расчетного документа</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="AccDocDate" type="xsd:date">
          <xsd:annotation>
            <xsd:documentation>Дата выписки расчетного документа</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FioType">
    <xsd:annotation>
      <xsd:documentation>Фамилия, имя, отчество</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Surname" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Фамилия</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FirstName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Имя</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Patronymic" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Отчество</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TransKind">
    <xsd:annotation>
      <xsd:documentation>Вид операции</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="01"/>
        <xsd:enumeration value="02"/>
        <xsd:enumeration value="06"/>
        <xsd:enumeration value="16"/>
        <xsd:enumeration value="ПД"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>