gisgmp/src/test/resources/wsdl/unifoWS/unifo_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20_21_22.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is unknown.--><xsd:schema targetNamespace="http://roskazna.ru/xsd/ErrInfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ErrInfo">
    <xsd:annotation>
      <xsd:documentation>Информация об ошибке</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ErrorCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Код ошибки</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ErrorDescription" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Описание ошибки</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ErrorData" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Данные ошибки (для системного анализа)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>