gisgmp/src/test/resources/wsdl/unifoWS/unifo_1_2_3_4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is unknown.--><!--edited with XMLSpy v2013 (http://www.altova.com) by  ()--><xs:schema targetNamespace="http://www.id-sys.ru/schemas/idbank/customer/2015/0.01/" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://www.id-sys.ru/schemas/idbank/customer/2015/0.01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:id="http://www.id-sys.ru/schemas/idbank/common/2012/0.01/">
  <xs:import namespace="http://www.id-sys.ru/schemas/idbank/common/2012/0.01/" schemaLocation="unifo.xsd"/>
  <xs:complexType name="Customer">
    <xs:annotation>
      <xs:documentation>Клиент</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="id:Object">
        <xs:sequence>
          <xs:element name="FullName" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Полное наименование</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="1000"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="ShortName" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Краткое наименование</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="500"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="FIO" type="id:FioType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthPlace" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="INN" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="12"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="OGRN" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ОГРН</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="15"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="SNILS" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>СНИЛС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Gender" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Пол</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="M"/>
                <xs:enumeration value="F"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="Citizenship" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна гражданства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Identification" type="id:IdentificationEx" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о ДУЛ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="queryID" type="xs:long" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ID ранее отправленного в СМЭВ запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OMS" type="id:OMSEx" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о полисе ОМС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContactInfo" type="id:ContactInfo" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Контактная информация</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OperatorSnils" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>СНИЛС оператора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ra" type="xs:long" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор центра обслуживания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="oid" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор учетной записи ЕСИА</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CustomerDataType">
    <xs:annotation>
      <xs:documentation>Тип сведений</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bankruptcy"/>
      <xs:enumeration value="BankruptcyMessage"/>
      <xs:enumeration value="BankruptcyReport"/>
      <xs:enumeration value="SNILS_VALIDITY"/>
      <xs:enumeration value="INN_MATCH"/>
      <xs:enumeration value="ID_VALIDITY"/>
      <xs:enumeration value="CHECKLIST"/>
      <xs:enumeration value="ESIA_ACCOUNT"/>
      <xs:enumeration value="FNS_GET_INN"/>
      <xs:enumeration value="FNS_RESTRICTION"/>
      <xs:enumeration value="OMS_MATCH"/>
      <xs:enumeration value="FNS_INN_BY_PASSPORT"/>
      <xs:enumeration value="FNS_RMSP"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BankruptcyData">
    <xs:annotation>
      <xs:documentation>Запись реестра должников</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="id:ObjectStatus">
        <xs:sequence>
          <xs:element name="FullName" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Полное наименование</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="1000"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="ShortName" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Краткое наименование</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="500"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="FIO" type="id:FioType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="INN" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="15"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="OGRN" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ОГРН/ОГРНИП</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="15"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="SNILS" minOccurs="0">
            <xs:annotation>
              <xs:documentation>СНИЛС</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="11"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="BirthDate" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthPlace" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NameHistory" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Список ранее имевшихся ФИО. Контейнер</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="NameHistoryItem" type="xs:string" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation>Ранее имевшееся ФИО</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Address" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес ФЛ (Юридический адрес ЮЛ)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateLastModif" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>Дата и время последней модификации записи (в реестре)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Region" type="xs:string">
            <xs:annotation>
              <xs:documentation>Регион должника</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Category" type="xs:string">
            <xs:annotation>
              <xs:documentation>Категория должника</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CategoryCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Код категории должника</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomerDataFilterItem">
    <xs:annotation>
      <xs:documentation>Элемент фильтра сведений о клиенте</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="id:Object">
        <xs:sequence>
          <xs:element name="TimeFilter" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время публикации сведений</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:element name="Range" type="id:DateTimeRange">
                  <xs:annotation>
                    <xs:documentation>За отрезок времени</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Unread" type="xs:boolean" fixed="true">
                  <xs:annotation>
                    <xs:documentation>Новые сведения</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomerDocument">
    <xs:annotation>
      <xs:documentation>Документ клиента</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="id:Object">
        <xs:choice>
          <xs:element name="BinaryDocument" type="xs:base64Binary">
            <xs:annotation>
              <xs:documentation>Документ произвольного формата</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" type="Customer"/>
</xs:schema>